.btn {
  padding: 12px 23px;
  display: inline-block;
  
  font-size: 22px;
  .sm(font-size, 18px);

  color: @white;
  background-color: @accent;

  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

  &:hover {
    cursor: pointer;
    background-color: darken(@accent, 20%);
  }
}

.arrowUpBtn {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 80px;
	width: 36px;
	height: 36px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 5px @white;
	opacity: 0.5;
	cursor: pointer;
	z-index: 95;
	transition: opacity 0.2s;
	background: @white no-repeat url(../img/up-button.svg) center/contain;

	&:hover {
			opacity: 1;
	}
}