// USER VARIABLES SECTION

@accent: #ff001e; // Accent Color
@fontsize: 16px; // Body Font Size
@lineheight: 1.875; // Document Line Height
@textcolor: #222222; // Text Color
@white: #ffffff;
@black: #000;
@grey: #6c6c6c;


@userfont: 'Modelica', sans-serif;
@systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

.font(@fname, @fstyle, @fweight, @furl) {
	@font-face {
		font-family: @fname;
		font-style: @fstyle;
		font-weight: @fweight;
		font-display: swap;
		src: url(@furl) format('woff2');
	}
}

.font('Modelica', normal, 400, '../fonts/Modelica-Regular.woff2');
.font('Modelica', normal, 700, '../fonts/Modelica-Bold.woff2');
.font('Modelica', normal, 900, '../fonts/Modelica-Black.woff2');

.font('GeoSlb', normal, 400, '../fonts/GeoSlb-Regular.woff2');

// GENERAL DOCUMENT STYLES

.reset();

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	.wrapper();
}

.container-full {
  .wrapper-full();
  max-width: 1920px;
  margin: 0 auto;
}

::placeholder {
	color: #666;
}

::selection {
	background-color: @accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border: 3px solid @accent }
	&:required:valid { border: 3px solid green }
}

.scroll-disabled {
  overflow: hidden;
}

body {
	font-family: @userfont;
	font-size: @fontsize;
	font-weight: 400;
	line-height: @lineheight;
	color: @textcolor;
	min-width: 320px;
  position: relative;
}

.section-header {
  color: @white;
  text-transform: uppercase;
  text-align: center;
  font-family: 'GeoSlb';
  font-size: 48px;
  line-height: 48px;
  .sm(font-size,35px);
}

.section-subheader {
  color: @accent;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  .sm(font-size,22px);
}